/* 
==========================================================================
    Flip Box Styles
==========================================================================
*/
.flip-box {
    background-color: transparent;
    height: 1rem;
    font-size: 1rem;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
}

.flip-box:hover {
    cursor: pointer;
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-box-back {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(180deg);
}

/* 
==========================================================================
    Geometric Gradient Styles
==========================================================================
*/

.GeometricGradient {
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    z-index: -1;
    animation: theme 30s linear infinite;
    position: fixed;
}

.GeometricGradient:after,
.GeometricGradient:before {
    content: '';
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    min-height: 100dvh;
    width: 100vmax;
    height: 100vmax;
    animation: background 90s linear infinite;
}


.GeometricGradient:after {
    left: 15vw;
    background: rgba(200, 200, 200, 0.1);
    filter: blur(1px);
}

.GeometricGradient:before {
    background: rgba(0, 0, 0, 0.5);
    right: 15vw;
    animation-delay: -30s;
    animation-direction: reverse;
    filter: blur(1px);
}

@keyframes theme {
    0% {
        background: #121212;
    }

    16% {
        background: #0f0f0f;
    }

    33% {
        background: #0a0a0a;
    }

    50% {
        background: #000000;
    }

    66% {
        background: #0a0a0a;
    }

    83% {
        background: #0f0f0f;
    }

    100% {
        background: #121212;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 
==========================================================================
    Markdown Styles 
==========================================================================
*/

.markdown h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.markdown h2 {
    display: block;
    font-size: 1.5em;   
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.markdown h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.markdown h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.markdown h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.markdown h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.markdown .table-container {
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.markdown img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.markdown table {
    width: 100%;
    border-collapse: collapse;

}

.markdown th,
.markdown td {
    border: 1px solid #ccc;
    padding: 5px;
}

.markdown a:link {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

.markdown a:hover {
    color: (internal value);
    text-decoration: underline;
    cursor: pointer;
}

.markdown a:visited {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

.markdown a:link:active {
    color: (internal value);
}

.markdown a:visited:active {
    color: (internal value);
}

.markdown p {
    margin: 0;
    font-size: 1em;
    font-weight: lighter;
}
/* 
==========================================================================
    Slide Text Styles
==========================================================================
*/

.SlideTextAnimation {
    overflow: hidden;
    position: relative;
    height: 1.5rem;
    /* box-shadow: inset 0px 0px 1px 1px purple; */
}

.SlideTextAnimation .SlideTextFirst div, .SlideTextAnimation .SlideTextSecond div {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
    position: relative;
    height: 1.5rem;
    /* box-shadow: inset 0px 0px 1px 1px green; */
}

.SlideTextAnimation:hover div:nth-child(2) {
    transform: rotate(3deg);
}

.SlideTextAnimation:hover div:nth-child(1) {
    margin-top: -2.25rem;
    transform: rotate(-3deg);
}

.SlideTextAnimation:hover {
    cursor: pointer;
}

.SlideTextAnimation div {
    transition: margin-top 0.2s ease-in, transform 0.2s ease-in;
}

.SlideTextAnimation div:nth-child(2){
    transform: rotate(3deg);
}

/* 
==========================================================================
    Slide Text Large Styles
==========================================================================
*/

.SlideTextLargeContainer {
    font-weight: bold;
}

.SlideTextLargeAnimation {
    overflow: hidden;
    position: relative;
    height: 4rem;
    /* box-shadow: inset 0px 0px 1px 1px purple; */
}

.SlideTextLargeAnimation .SlideTextLargeFirst div, .SlideTextLargeAnimation .SlideTextLargeSecond div {
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: inset 0px 0px 1px 1px green; */
    margin-bottom: 6rem;
    position: relative;
    height: 4rem;
    
}

.SlideTextLargeAnimation:hover div:nth-child(2) {
    transform: rotate(3deg);
}

.SlideTextLargeAnimation:hover div:nth-child(1) {
    /* margin-top: -7.5rem; */
    margin-top: -5rem;
    transform: rotate(-3deg);
}

.SlideTextLargeAnimation div:hover {
    cursor: pointer;
}

.SlideTextLargeAnimation div {
    transition: margin-top 0.2s ease-in, transform 0.2s ease-in;
}

.SlideTextLargeAnimation div:nth-child(2){
    transform: rotate(3deg);
}

/* 
==========================================================================
    Slide Text Small Styles
==========================================================================
*/

.SlideTextAnimationSmall {
    overflow: hidden;
    position: relative;
    height: 1.5rem;
    /* box-shadow: inset 0px 0px 1px 1px purple; */
}

.SlideTextAnimationSmall .SlideTextFirstSmall div, .SlideTextAnimationSmall .SlideTextSecondSmall div {
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
    position: relative;
    height: 1.5rem;
    /* box-shadow: inset 0px 0px 1px 1px green; */
}

.SlideTextAnimationSmall:hover div:nth-child(2) {
    transform: rotate(3deg);
}

.SlideTextAnimationSmall:hover div:nth-child(1) {
    margin-top: -2.25rem;
    transform: rotate(-3deg);
}

.SlideTextAnimationSmall:hover {
    cursor: pointer;
}

.SlideTextAnimationSmall div {
    transition: margin-top 0.2s ease-in, transform 0.2s ease-in;
}

.SlideTextAnimationSmall div:nth-child(2){
    transform: rotate(3deg);
}

.SlideTextAnimationSmall.Trigger div:nth-child(2) {
    transform: rotate(3deg);
}

.SlideTextAnimationSmall.Trigger div:nth-child(1) {
    margin-top: -2.25rem;
    transform: rotate(-3deg);
}

.SlideTextAnimationSmall.Trigger {
    cursor: pointer;
}