@tailwind base;
@tailwind components;
@tailwind utilities;


.debug-m * {
  box-shadow: inset 0px 0px 1px 1px gold;
}

.debug-s {
  box-shadow: inset 0px 0px 1px 1px red;
}

@layer base {
  .font-outline-white {
    -webkit-text-stroke: 1px white;
  }

  .font-outline-secondary-1 {
    -webkit-text-stroke: 1px #0261A1;
  }

  .font-outline-primary-2 {
    -webkit-text-stroke: 1px #FFBE0B;
  }
}

@layer base {
  :root {
    --container-size: 800px;
  }
}

@layer utilities {
  .slide-center {
    transform: translateX(calc(max(var(--container-size), 100vw) / 2 - calc(var(--container-size) / 2)))
  }
  .small-caps {
    font-variant-caps: small-caps;
  }
}


body {
  scrollbar-width: thin;
}

.about-gradient {
  background-color: rgba(0,0,0,0);
  background-image:         linear-gradient(top, rgba(0,0,0,0) 0%, #101020 50dvh); /* W3C */
  background-image:         linear-gradient(to bottom, rgba(0,0,0,0) 0%, #101020 50dvh); /* W3C */
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #101020 50dvh); /* FF3.6+ */
  background-image:    -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, #101020 50dvh); /* FF3.6+ */
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #101020 50dvh); /* Chrome10+,Safari5.1+ */
  background-image: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0%, #101020 50dvh); /* Chrome10+,Safari5.1+ */
}