@tailwind base;
@tailwind components;
@tailwind utilities;

.debug, .debug *{
    box-shadow: inset 0px 0px 1px 1px gold;
}

html {
    font-family: "Open Sans", sans-serif;
}

@layer base {
    .font-outline-white {
      -webkit-text-stroke: 1px white;
    }
    .font-outline-primary-2 {
      -webkit-text-stroke: 2px #0261A1;
    }
  }