@tailwind base;
@tailwind components;
@tailwind utilities;


.debug-m *{
    box-shadow: inset 0px 0px 1px 1px gold;
}

.debug-s{
  box-shadow: inset 0px 0px 1px 1px red;
}

html {
    font-family: monospace;
}

@layer base {
    .font-outline-white {
      -webkit-text-stroke: 1px white;
    }
    .font-outline-secondary-1 {
      -webkit-text-stroke: 1px #0261A1;
    }
    .font-outline-primary-2 {
      -webkit-text-stroke: 1px #FFBE0B;
    }
  }