.GeometricGradient {
	width: 100%;
    height: 100vh;
    z-index: -1;
    animation: theme 25s linear infinite;
    position: fixed;
}
 
.GeometricGradient:after, .GeometricGradient:before {
	 content: '';
	 display: block;
	 position: fixed;
	 z-index: -1;
	 top: 0;
	 width: 100vw;
	 height: 100vh;
	 width: 100vmax;
	 height: 100vmax;
	 animation: background 90s linear infinite;
}


.GeometricGradient:after {
	left: 15vw;
    background: rgba(200, 200, 200, 0.1);
}

 .GeometricGradient:before {
	background: rgba(0,0,0, 0.5);
	 right: 15vw;
	 animation-delay: -30s;
	 animation-direction: reverse;
}

 @keyframes theme {
	 0% {
		 background: #121212;
	}
	 16% {
		 background: #0f0f0f;
	}
	 33% {
		 background: #0a0a0a;
	}
	 50% {
		 background: #000000;
	}
	 66% {
		 background: #0a0a0a;
	}
	 83% {
		 background: #0f0f0f;
	}
	 100% {
		 background: #121212;
	}
}
 @keyframes background {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 