.SlideTextContainer {
    font-weight: bold;
}

.SlideTextAnimation {
    height: 2rem;
    overflow:hidden;
}

.SlideTextAnimation > div > div {
    display: inline-block;
    height: 2rem;
    margin-bottom: 2rem;
}

.SlideTextAnimation:hover div:nth-child(2) {
    transform: rotate(3deg);
}

.SlideTextAnimation:hover div:nth-child(1) {
    margin-top: -4rem;
    transform: rotate(-3deg);
}

.SlideTextAnimation:hover {
    cursor: pointer;
}

.SlideTextAnimation div {
    transition: margin-top 0.3s ease-in, transform 0.3s ease-in;
}

.SlideTextAnimation div:nth-child(2){
    transform: rotate(3deg);
    margin-left: -0.063rem;
}