.SlideTextLargeContainer {
    font-weight: bold;
}

.SlideTextLargeAnimation {
    overflow: hidden;
    position: relative;
    height: 4rem;
    /* box-shadow: inset 0px 0px 1px 1px purple; */
}

.SlideTextLargeAnimation .SlideTextLargeFirst div, .SlideTextLargeAnimation .SlideTextLargeSecond div {
    font-size: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: inset 0px 0px 1px 1px green; */
    margin-bottom: 6rem;
    position: relative;
    height: 4rem;
    
}

.SlideTextLargeAnimation:hover div:nth-child(2) {
    transform: rotate(3deg);
}

.SlideTextLargeAnimation:hover div:nth-child(1) {
    /* margin-top: -7.5rem; */
    margin-top: -5rem;
    transform: rotate(-3deg);
}

.SlideTextLargeAnimation div:hover {
    cursor: pointer;
}

.SlideTextLargeAnimation div {
    transition: margin-top 0.2s ease-in, transform 0.2s ease-in;
}

.SlideTextLargeAnimation div:nth-child(2){
    transform: rotate(3deg);
}